/* Fix for speakers section grid lines */

.speakers__grid-lines {
  height: calc(100% + 4em) !important;
  bottom: 0;
}

.speakers__view-all {
  position: relative;
  z-index: 10;
  margin-top: 4em;
  padding-bottom: 4em;
}

/* Ensure grid lines extend properly on all screen sizes */
@media screen and (max-width: 991px) {
  .speakers__grid-lines {
    height: calc(100% + 6em) !important;
  }
}

@media screen and (max-width: 767px) {
  .speakers__grid-lines {
    height: calc(100% + 8em) !important;
  }
}
